@model SemaineDevOps.Models.Entreprise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entreprise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domaine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domaine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@* <div class="container my-5">
    <h2 class="my-3"> Axe 1</h2>
    <h4>Catégorie 1</h4>
    <table>
        <tbody>
            <tr>
                <td>
                Question 1    
                </td>
                <td>
                    0
                </td>
                <td>
                    Possibilité de choisir et de suivre des formations "annexes" au métier et/ou temps dédié pour de la veille ou de l'auto-formation
                </td>
                <td>
                    Nombreuses formations métiers dans le plan de formation
                </td>
                <td>
                    Désintérêt pour l'amélioration de la compétence des équipes
                </td>
            </tr>
            <tr>
                <td>
                    Question 1
                </td>
                <td>
                    1
                </td>
                <td>
                    Démarche instaurée et pratiquée régulièrement
                </td>
                <td>
                    Quelques initiatives
                </td>
                <td>
                    Pas du tout
                </td>
            </tr>
        </tbody>
    </table>

</div> *@