@model SemaineDevOps.Models.Entreprise

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel='stylesheet' type='' href='~/css/Details.css'>

</head>
@* <h1>Details</h1> *@

<div>
  @*   <h4>Entreprise</h4>
    <hr /> *@
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domaine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domaine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
    </dl>
</div>
@* <div class="tab-container">
     <div class="tabs">
        <button class="tab-link active" data-tab="tab1">Axe Compétences</button>
        <button class="tab-link" data-tab="tab2">Axe Réactivité</button>
        <button class="tab-link" data-tab="tab3">Axe Numérique</button>
    @*     <button class="tab-link" data-tab="tab4">Synthèse</button>
     </div> 

        <div id="tab1" class="tab-content active">
        <table>
            <thead>
                <tr>
                <th></th>
                <th>Question</th>
                <th>Score</th>
                <th>Descriptif 1</th>
                <th>Descriptif 2</th>
                <th>Descriptif 3</th>
           @*      <th>Description</th> 
                <th>Commentaire</th>
                </tr>
            </thead>
              <tbody>
                  <tr>
                @foreach (var regrouper in Model.Regroupers)
                {
                    var question = regrouper.Question;
                    var reponse = regrouper.Reponse;
                        if (question != null)
                    {
                        var categorie = question.Categorie;
                        if (categorie != null)
                        {
                            var axe = categorie.Axe;
                                var descriptifs = question.Points.Select(p => p.Descriptif).ToList();
                          
                              @*   foreach (var point in question.Points)
                               { 
                               
                                        <td>@categorie.Nom</td>
                                        <td>@question.Nom</td>
                                        <td>@reponse.Score</td>
                                        <td>@descriptifs[0]</td>
                                        <td>@descriptifs[1]</td>
                                        <td>@descriptifs[2]</td>
    @*                                     <td>@point.Descriptif</td>
                                  <td>@reponse.Commentaire</td>
                                }
                                }
                        }
                  </tr>
                
              </tbody>
              </table>
        </div>

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
    </div>
 <script>
    document.querySelectorAll('.tab-link').forEach(button => {
        button.addEventListener('click', () => {
            const tabContainer = button.parentElement.parentElement;
            const tabNumber = button.dataset.tab;

            tabContainer.querySelectorAll('.tab-link').forEach(btn => {
                btn.classList.remove('active');
            });

            tabContainer.querySelectorAll('.tab-content').forEach(content => {
                content.classList.remove('active');
            });

            button.classList.add('active');
            tabContainer.querySelector('#' + tabNumber).classList.add('active');
        });
    });
</script> @**@

<div class="container my-5">
    <h2 class="my-3"> Axe Compétences</h2>
    <h4>Excellence Technique/Communauté de pratiques</h4>
    <table>
        <tbody>
            <tr>
                <td>
                    Formations pour Apprendre à apprendre, changement de paradigme, "être à la page" (au-delà des compétences "justes" nécessaires)
                </td>
                <td>
                    0
                </td>
                <td>
                    Possibilité de choisir et de suivre des formations "annexes" au métier et/ou temps dédié pour de la veille ou de l'auto-formation
                </td>
                <td>
                    Nombreuses formations métiers dans le plan de formation
                </td>
                <td>
                    Désintérêt pour l'amélioration de la compétence des équipes
                </td>
                <!-- <td style="background-color: aliceblue;" title="Possibilité de choisir et de suivre des formations 'annexes' au métier et/ou temps dédié pour de la veille ou de l'auto-formation">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Nombreuses formations métiers dans le plan de formation">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Désintérêt pour l'amélioration de la compétence des équipes">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Le co-développement (outil d'intelligence collective) existe-t-il dans l'entreprise ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Démarche instaurée et pratiquée régulièrement
                </td>
                <td>
                    Quelques initiatives
                </td>
                <td>
                    Pas du tout
                </td>
                <!-- <td style="background-color: aliceblue;" title="Démarche instaurée et pratiquée régulièrement">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques initiatives">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Pas du tout">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Les collaborateurs sont-ils amenés à partager leurs compétences et sous quelles formes ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Véritable communauté de pratiques mise en place
                </td>
                <td>
                    Capitalisation d'un certain nombre de savoirs
                </td>
                <td>
                    Aucune initiative
                </td>
                <!-- <td style="background-color: aliceblue;" title="Démarche instaurée et pratiquée régulièrement">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques initiatives">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Pas du tout">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Le mentoring (fonctionnement en binôme) existe-t-il pour assurer le transfert de compétences ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Systématiquement lors d'une prise de poste
                </td>
                <td>
                    Quelques initiatives
                </td>
                <td>
                    Aucune initiative
                </td>
                <!-- <td style="background-color: aliceblue;" title="Démarche instaurée et pratiquée régulièrement">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques initiatives">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Pas du tout">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Les managers sont-ils aussi formateurs sur certains sujet pour l'entreprise entière ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Quasi systématiquement
                </td>
                <td>
                    Quelques fois
                </td>
                <td>
                    Non
                </td>
                <!-- <td style="background-color: aliceblue;" title="Démarche instaurée et pratiquée régulièrement">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques initiatives">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Pas du tout">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    L'entreprise favorise-t-elle l'excellence technique ? (Principe 9 du Manifeste Agile)
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui
                </td>
                <td>
                    Oui un peu
                </td>
                <td>
                    Pas du tout
                </td>
                <!-- <td style="background-color: aliceblue;" title="Démarche instaurée et pratiquée régulièrement">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques initiatives">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Pas du tout">
                   <input type="radio">0 point
                   </td> -->
            </tr>
        </tbody>
    </table>
    <h4>Faire agile</h4>
    <table>
        <tbody>
            <tr>
                <td>
                    Déployez vous les pratiques du "Faire Agile", c'est-à-dire une ou plusieurs des "méthodes" agiles ?
                </td>
                <td>
                    2
                </td>
                <td>
                    Déploiement systématique d'une ou plusieurs méthodes

                </td>
                <td>
                    Quelques projets pilotes
                </td>
                <td>
                    NON, nous les projets sont tous en cycle en V / cascade
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Votre entreprise promeut-elle un "état d'esprit agile" ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui

                </td>
                <td>
                    Quelques valeurs agiles promues
                </td>
                <td>
                    Non
                </td>
                <!-- <td style="background-color: aliceblue;" title="Oui">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques valeurs agiles promues">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Non">
                   <input type="radio">0 point
                   </td> -->
            </tr>
        </tbody>
    </table>
    <h4>Gestion humaine des compétences</h4>
    <table>
        <tbody>
            <tr>
                <td>
                    Votre entreprise gère-t-elle humainement les compétences ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui

                </td>
                <td>
                    Un peu
                </td>
                <td>
                    Non
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
        </tbody>
    </table>
    <!-- REACTIVITE -->
    <h2 class="my-3"> Axe Réactivité</h2>
    <h4>Vélocité de réponse</h4>
    <table>
        <tbody>
            <tr>
                <td>
                    Valeur supérieure utilisable livrée plus tôt (Fonction principale utilisable dès les premières versions)
                </td>
                <td>
                    1
                </td>
                <td>
                    Principe du MVP respecté : Minimum Viable Product / la version d'un produit qui permet d'obtenir un maximum de retours client avec un minimum d'effort

                </td>
                <td>
                    Prototype fonctionnel intermédiaire livré au client
                </td>
                <td>
                    Pas de phase de validation intermédiaire
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Réactivité face aux impératifs prépondérants
                </td>
                <td>
                    1
                </td>
                <td>
                    L'équipe de conception s'adapte en cas de modification en cours de conception

                </td>
                <td>
                    Modifications en cours de conception engendrant alors du retard
                </td>
                <td>
                    Pas de modification possible en cours de conception
                </td>
                <!-- <td style="background-color: aliceblue;" title="Oui">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques valeurs agiles promues">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Non">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Mesure de la vélocité de l'équipe (indicateur de suivi du travail d'une équipe de conception)
                </td>
                <td>
                    1
                </td>
                <td>
                    Mesure de la vélocité

                </td>
                <td>
                    Suivi des tâches
                </td>
                <td>
                    Jamais
                </td>
                <!-- <td style="background-color: aliceblue;" title="Oui">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques valeurs agiles promues">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Non">
                   <input type="radio">0 point
                   </td> -->
            </tr>
        </tbody>
    </table>
    <h4>Environnements souples</h4>
    <table>
        <tbody>
            <tr>
                <td>
                    Les installations techniques et de gestion sont modernes (TIC/ERP/CRM)
                </td>
                <td>
                    1
                </td>
                <td>
                    En cas de besoin, le système d'information favorise la réactivité

                </td>
                <td>
                    Le système d'information permet avec quelques difficultés d'avoir de la réactivité
                </td>
                <td>
                    Le système d'information freine toute tentative de réagir rapidement
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Les équipes sont en capacité d'autonomiser une partie de leurs tâches
                </td>
                <td>
                    1
                </td>
                <td>
                    L'entreprise équipe et forme ses équipes à la création de site web ou app via des outils no-code

                </td>
                <td>
                    On laisse la possibilité de créer quelques macros Excel/VBA
                </td>
                <td>
                    Jamais
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Les équipes s’inscrivent dans un cadre Agile Lean
                </td>
                <td>
                    1
                </td>
                <td>
                    Les concepts Agile/Lean sont inscrits dans l'ADN de l'entreprise : Satisfaction du client avec des livraisons au plu tôt et régulières, accepter les changements, lisser les activités, collaboration quotidienne avec les parties prenantes, proximité terrain, autonomie des équipes dans la résolution de problèmes, amélioration continue...

                </td>
                <td>
                    Plusieurs concepts Agile/Lean sont mis en œuvre dans l'entreprise
                </td>
                <td>
                    Pas de démarche Agile/Lean initiée dans l'entreprise
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Les mécanismes de livraison et de synchronisation sont matures
                </td>
                <td>
                    1
                </td>
                <td>
                    Concepts du juste à temps maîtrisés (production rythmée par la demande client, peu d'en-cours)

                </td>
                <td>
                    Quelques concepts du juste à temps sont mis en œuvre pour tendre le flux
                </td>
                <td>
                    Pas de démarche de tension des flux
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
        </tbody>
    </table>
    <h4>Défi environnemental</h4>
    <table>
        <tbody>
            <tr>
                <td>
                    Les innovations produit tiennent compte de l'urgence climatique
                </td>
                <td>
                    1
                </td>
                <td>
                    Systématiquement

                </td>
                <td>
                    Des premières initiatives ont été lancées
                </td>
                <td>
                    Auxune réflexion sur cet axe
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Les processus internes sont remis en cause pour diminuer leur impact environnemental
                </td>
                <td>
                    1
                </td>
                <td>
                    Systématiquement

                </td>
                <td>
                    Des premières initiatives ont été lancées
                </td>
                <td>
                    Auxune réflexion sur cet axe
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Les parties prenantes sont sélectionnées en fonction de leur éthique vis-à-vis du développement durable
                </td>
                <td>
                    1
                </td>
                <td>
                    Systématiquement

                </td>
                <td>
                    Des premières initiatives ont été lancées
                </td>
                <td>
                    Auxune réflexion sur cet axe
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
        </tbody>
    </table>
    <h4>Veille et benchmark</h4>
    <table>
        <tbody>
            <tr>
                <td>
                    Veille stratégique
                </td>
                <td>
                    1
                </td>
                <td>
                    La veille stratégique de l'entreprise permet d'anticiper les disruptions nécessaires

                </td>
                <td>
                    La veille stratégique de l'entreprise permet d'anticiper les évolutions et les innovations
                </td>
                <td>
                    Pas de veille
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
        </tbody>
    </table>
    <!-- NUMERIQUE -->
    <h2 class="my-3"> Axe Numérique</h2>
    <h4>Business model</h4>
    <table>
        <tbody>
            <tr>
                <td>
                    Votre entreprise dégage t-elle une part de CA  par des produits ou services en ligne
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui environ 30%

                </td>
                <td>
                    Oui environ 20%
                </td>
                <td>
                    Moins de 10%
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    La mise en place d’outils numériques a-t-elle permis d'optimiser les coûts, les délais et la qualité ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui pour tous les critères

                </td>
                <td>
                    Oui mais pas pour tous les critères
                </td>
                <td>
                    Aucun
                </td>
                <!-- <td style="background-color: aliceblue;" title="Oui">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques valeurs agiles promues">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Non">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Comment les outils sont-ils intégrés dans les process de l’entreprise ?
                </td>
                <td>
                    1
                </td>
                <td>
                    A part entière, il existe des procédures et formations aux outils, ces outils sont intituitifs et adaptés à l'activité

                </td>
                <td>
                    En partie, les outils ne sont pas toujours adaptés à l'activité et pas toujours rattachés à des procédures, sans entraver ses principales fonctions
                </td>
                <td>
                    Absence d'outils ou de procédures, manque d'utilité
                </td>
                <!-- <td style="background-color: aliceblue;" title="Oui">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques valeurs agiles promues">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Non">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Comment partagez-vous les données numériques avec les parties prenantes (clients, fournisseurs,…) ?
                </td>
                <td>
                    1
                </td>
                <td>
                    En mode avancé : des plateformes dédiées (type extranet, applications) sont intégrées au mode de partage permanent

                </td>
                <td>
                    En mode collaboratif : quelques aménagements (type sharepoint, drive) pour des sujets plutôt ponctuels
                </td>
                <td>
                    En mode novice : au mieux par mail ou via le site internet
                </td>
                <!-- <td style="background-color: aliceblue;" title="Oui">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques valeurs agiles promues">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Non">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Mesurez-vous les impacts du numérique sur votre entreprise ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui des outils de mesure sont en place

                </td>
                <td>
                    Oui et non on observe sans mesurer
                </td>
                <td>
                    Non
                </td>
                <!-- <td style="background-color: aliceblue;" title="Oui">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques valeurs agiles promues">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Non">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Quel est l’impact du numérique sur la démarche RSE de l’entreprise ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Le numérique est un sujet totalement rattaché à la démarche RSE

                </td>
                <td>
                    C'est un sujet observé de loin, on traite les questions d'obligation légales sans aller plus loin
                </td>
                <td>
                    Absence de démarche RSE
                </td>
                <!-- <td style="background-color: aliceblue;" title="Oui">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques valeurs agiles promues">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Non">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Existe-t-il des freins (stratégiques, financiers,…) à l’ investissement dans les outils numériques ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Non des budgets sont alloués et l'entreprise a bien compris cette nécessité dans sa stratégie

                </td>
                <td>
                    Oui l'entreprise est plutôt frileuse, on ne dépense que le strict nécessaire pour que les outils fonctionnent sans recherche de performance
                </td>
                <td>
                    Oui la statégie de l'entreprise n'est pas orientée en faveur du numérique, elle n'investit pas
                </td>
                <!-- <td style="background-color: aliceblue;" title="Oui">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques valeurs agiles promues">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="Non">
                   <input type="radio">0 point
                   </td> -->
            </tr>
        </tbody>
    </table>
    <h4>Relation client</h4>
    <table>
        <tbody>
            <tr>
                <td>
                    L’entreprise dispose-t-elle : d’un site internet, d’un compte LinkedIn, d’une page Facebook, d’un compte Twitter,... ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui la présence de l'entreprise sur les réseaux est visible, elle correspond au secteur d'activité

                </td>
                <td>
                    Oui mais seulement sur le site internet = 1 point
                </td>
                <td>
                    Non le site/la page réseau sont inexistants ou inactifs
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Comment utilisez-vous le numérique dans la relation client ? (nouveau modèle de vente, nouveau modèle d’échanges avec les clients, communauté, story, chat,...)
                </td>
                <td>
                    1
                </td>
                <td>
                    Plusieurs modes d'utilisation sont possibles pour échanger avec l'externe, ils sont performants et adaptés avec l'activité de l'entreprise

                </td>
                <td>
                    Des accès dédiés pour les échanges entre le client et l'entreprise sont existent, le suivi des contacts n'est pas optimal
                </td>
                <td>
                    Absence de plateforme de contact
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    L’entreprise dispose-t-elle d’un community manager ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui

                </td>
                <td>
                    Non mais une personne se charge de l'animation des réseaux sociaux parmi ses autres tâches
                </td>
                <td>
                    Non aucune personne n'est dédiée
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Certains de vos collaborateurs sont-ils actifs sur les réseaux sociaux au nom de l’entreprise ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui avec des incitations de l'entreprise pour le faire

                </td>
                <td>
                    Oui sans incitation
                </td>
                <td>
                    Non ou rarement
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Comment mesurez-vous et exploitez-vous les données issues du site de votre entreprise ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Des indicateurs sont mis en place afin de mesurer l'efficacité et l'impact du site sur les réseaux, une recherche de performance est en place pour toucher toujours plus et mieux

                </td>
                <td>
                    Des indicateurs sont en place mais plutôt de façon passive, ils servent à mesurer
                </td>
                <td>
                    Absence de suivi
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Avez-vous observé chez vos concurrents des pratiques innovantes ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui elles servent comme base de reflexion et de développement pour notre propre entreprise. On peut être rivaliser !

                </td>
                <td>
                    Oui ils ont quelques belles idées, si seulement on pouvait faire aussi bien qu'eux
                </td>
                <td>
                    Oui ils sont tellement performants et en avance que nous pourrions perdre des marchés
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
        </tbody>
    </table>
    <h4>Management</h4>
    <table>
        <tbody>
            <tr>
                <td>
                    Vos collaborateurs sont-ils équipés de nouveaux équipements numériques de travail (PC portable, tablette, smartphone,…) ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Les processus de travail s'appuient sur des outils numériques quand ceux-ci sont possibles. L'ensemble des fonctions de l'entreprise sont équipées pour pouvoir réaliser le travail à distance quand celui-ci est possible

                </td>
                <td>
                    Les processus s'appuient rarement sur la numérisation des données et les outils numériques. Le potentiel ne semble pas pleinement exploité.
                </td>
                <td>
                    Les fonctions supports ne sont pas amenées à être équipé pour le travail à distance. L'entreprise fonctionne majoritairement sur le mode papier.
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    L’arrivée des outils digitaux a-t-elle eu un impact sur les pratiques et la culture de l’entreprise ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui gain de temps, facilité, économies et fiabilité

                </td>
                <td>
                    Oui dans l'ensemble toutefois nous rencontrons parfois des contraintes (pratiques, techniques,…)
                </td>
                <td>
                    Non au contraire, peu de monde y adhère
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Comment vous êtes-vous approprié et comment avez-vous accompagné ces évolutions?
                </td>
                <td>
                    1
                </td>
                <td>
                    Tout est en place pour faciliter la compréhension et l'adhésion aux nouveaux outils/pratiques

                </td>
                <td>
                    La communication n'est pas parfaite, les personnes qui peuvent se sentir en difficultés avec les nouvelles pratiques ne sont pas forcémment considérées.
                </td>
                <td>
                    Absence de communication et d'accompagnement
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Les nouvelles possibilités technologiques ont-elles fait évoluer le modèle d’organisation de l’entreprise et/ou votre management, vers plus de collaboration avec des acteurs internes ou externes ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui on sort complétement du mode silot et on favorise le mode projet

                </td>
                <td>
                    Oui quelques évolutions s'opèrent pour travailler en inter-service ou avec l'externe, toutefois le potentiel n'est pas pleinement exploité
                </td>
                <td>
                    L'organisation est en silot, absence de projets transversaux et d'interactions avec les autres sites
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Mobilisez-vous des outils de veille et mettez-vous en œuvre des modalités de curation et de partage de l’ information ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui l'entreprise est en capacité de mesurer sa performance et de réagir rapidement pour se mettre à jour

                </td>
                <td>
                    Il y a un peu de benchmark toutefois les décisions d'évolutions sont un peu tardive (quand il n y a plus le choix)
                </td>
                <td>
                    Absence de veille
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Les fonctionnalités des outils sont-elles augmentées par la pratique de vos collaborateurs ?
                </td>
                <td>
                    1
                </td>
                <td>
                    Oui totalement les outils s'adaptent au terrain quotidiennement

                </td>
                <td>
                    Oui mais les outils sont vieillissants, il y a des freins pour les faire évoluer
                </td>
                <td>
                    Absence de prise en compte des pratiques terrain
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
            <tr>
                <td>
                    Comment accompagnez-vous vos collaborateurs dans la transition numérique ?
                </td>
                <td>
                    1
                </td>
                <td>
                    L'entreprise est pro-active par la promotion des innovations et des outils numériques. J'adgère

                </td>
                <td>
                    L'entreprise accompagne en faisant de son mieux pour faire adhérer les autres, il y a parfois quelques blocages. J'aimerais parfois être moi-même accompagné
                </td>
                <td>
                    Absence d'accompagnement
                </td>
                <!-- <td style="background-color: aliceblue;" title="Déploiement systématique d'une ou plusieurs méthodes">
                   <input type="radio">2 point
                   </td>
                   <td style="background-color: aliceblue;" title="Quelques projets pilotes">
                   <input type="radio">1 point
                   </td>
                   <td style="background-color: aliceblue;" title="NON, nous les projets sont tous en cycle en V / cascade">
                   <input type="radio">0 point
                   </td> -->
            </tr>
        </tbody>
    </table>
</div>
      </main>
<script>
    document.querySelectorAll('tr').forEach(function (row) {
        var cells = row.querySelectorAll('td');
        cells.forEach(function (td, index) {
            if (td.textContent.trim() === '0') {
                td.classList.add('red');
                if (index + 3 < cells.length) {
                    cells[index + 1].classList.add('selected');
                }
            }
            else if (td.textContent.trim() === '1') {
                td.classList.add('yellow');
                if (index + 2 < cells.length) {
                    cells[index + 3].classList.add('selected');
                }
            }
            else if (td.textContent.trim() === '2') {
                td.classList.add('green');
                if (index + 1 < cells.length) {
                    cells[index + 2].classList.add('selected');
                }
            }
        });
    });
</script>